footer {
  background-color: #d1706c;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  font-weight: bold;

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    border-bottom: 2px solid #990500;
    
  }
}